/* 
  Color pallet 
  #f4f5f4 -> White
  #9D9CAB -> Grey
  #3D6567 -> Turquoise
  #B66A5E -> Red
  #C7C15D -> Yellow
*/
html, body {
  margin:0;
  padding: 0;
  height: 200%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #9D9CAB;
  display: flex;
  flex-direction: column;

}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;

  }

  .deck {
    position: absolute;
    width: 600px;
    height: 300px;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
    /*top: 25%;
    transform: translateY(-50%)
    */
  }
  
  .deck > div {
    
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80vh;
    max-width: 600px;
    height: 100vh;
    max-height: 600px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
    /* from: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    text-align: center;

  }

  .deck > div h2 {
    font-size: 45px;
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .cardcontent {

    margin-left: 15%;
    margin-right: 15%;

  }

  .middleouterbox {

    position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color:  #3D6567;
    align-items: center;
    justify-content: center;
    
  }
  
.middlecontainer {
    
    height: 95%;
    width:95%;
    border-radius: 2%;
    background-color: #f4f5f4;
    box-shadow:rgba(50, 50, 73, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1%;

  }

  .middlecontainer > section {

    height: 75%;
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%, 5%;
    padding: 5%;
    background-color:#9D9CAB;
    border-radius: 2%;
    gap: 7%;
    
  }

  .middlecontainer > section > div {

    justify-content: center;
    align-items: center;
    height: 33%;
    width: 100%;
    background-color: #f4f5f4;
    border-radius: 2%;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.695), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
    
  }

.about-me-container {
  height:
}